apiVersion: apps/v1
kind: Deployment
metadata:
  name: keel
  labels:
    app: keel
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keel
  template:
    metadata:
      labels:
        app: keel
    spec:
      serviceAccountName: keel
      containers:
        - name: keel
          image: keelhq/keel:latest
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POLL
              value: "1"
            - name: PROJECT_ID
              value: "homelab"
            - name: BASIC_AUTH_USER
              valueFrom:
                secretKeyRef:
                  name: keel-auth
                  key: KEEL_BASIC_AUTH_USER
            - name: BASIC_AUTH_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keel-auth
                  key: KEEL_BASIC_AUTH_PASSWORD
          ports:
            - containerPort: 9300
          resources:
            requests:
              cpu: "200m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
