apiVersion: v1
kind: Service
metadata:
  name: service
  labels:
    app: homeassistant
spec:
  selector:
    app: homeassistant
  ports:
    - name: http
      port: 8123
      targetPort: 8123
    - name: homekit-tcp
      port: 21063
      targetPort: 21063
      protocol: TCP
    - name: mdns
      port: 5353
      targetPort: 5353
      protocol: UDP
