apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: traefik

resources:
  - namespace.yml
  - helmchartconfig.yml
  - basic-auth-middleware.yml
  - dashboard.yml

# configMapGenerator:
#   - name: app-config
#     literals:
#       - APP_SUBDOMAIN=traefik

secretGenerator:
  - name: traefik-basic-auth
    type: Opaque
    envs:
      - .env
    options:
      disableNameSuffixHash: true
