apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: traefik

resources:
  - namespace.yml
  - dashboard.yml
  - helmchartconfig.yml
  - ../base

configMapGenerator:
- name: app-config
  literals:
  - APP_SUBDOMAIN=traefik

replacements:
- source:
    kind: ConfigMap
    name: app-config
    fieldPath: data.APP_SUBDOMAIN
  targets:
  - select:
      kind: IngressRoute
      name: traefik-dashboard
    fieldPaths:
    - spec.routes.0.match
    options:
      delimiter: '`'
      index: 1
- source:
    kind: ConfigMap
    name: domain-config
    fieldPath: data.LAN_DOMAIN
  targets:
  - select:
      kind: IngressRoute
      name: traefik-dashboard
    fieldPaths:
    - spec.routes.0.match
    options:
      delimiter: '.'
      index: 1
